@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    position: relative;
    overflow: hidden;
  }

  .main-height {
    height: calc(100vh - 135px);
  }

  .loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .bar {
    display: inline-block;
    width: 3px;
    height: 20px;
    background-color: hsl(236, 9%, 61%);
    border-radius: 10px;
    animation: scale-up4 1s linear infinite;
  }

  .bar:nth-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: 0.25s;
  }

  .bar:nth-child(3) {
    animation-delay: 0.5s;
  }

  @keyframes scale-up4 {
    20% {
      background-color: #ffff;
      transform: scaleY(1.5);
    }

    40% {
      transform: scaleY(1);
    }
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #848488;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #acacac;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c9c8c8;
  }

  /* Bottom bar */
  .bottom-bar {
    @apply z-50 flex-between w-full sticky bottom-0 rounded-t-[20px] px-5 py-4 sm:hidden;
  }

  /* Left sidebar */
  .leftsidebar {
    @apply hidden sm:block sm:w-[72px] md:w-60 px-6 py-10;
  }

  /* Topbar */
  .topbar {
    @apply sticky top-0 z-50 sm:hidden w-full;
  }

  /* Profile */
  .profile-container {
    @apply flex flex-col items-center flex-1 gap-10 overflow-scroll py-10 px-5 md:p-14 custom-scrollbar;
  }

  .profile-inner_container {
    @apply flex items-center md:mb-8 xl:items-start gap-8 flex-col xl:flex-row relative max-w-5xl w-full;
  }
}
